#listaRegistros{ display: none;}
#cadastroRegistros{
    display:none;
    flex-direction: column;
    gap: 50px;
}
body[page=lista]#listaRegistros{display: block; }
body[page=cadastro] #cadastroRegistro { display: block;}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: #f4f4f9; /* Cor de fundo da página */
    padding: 20px; /* Espaçamento interno */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center;
    min-height: 100vh; /* Garante que o conteúdo ocupe a tela inteira */
    margin: 0;
}

table{
    width: 250%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td{
    border: 2px solid #121111;
}
table th, table td{
    padding: 20px 30px;
    text-align: left;
    font-size: 20px; 
}

table th {
    background-color: #f2f2f2; 
    font-weight: bold;
}

table td {
    background-color: #fff;
} 

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(4, 64, 90);
    color: aliceblue;
    margin: 3px;
    padding: 12px 20px ;
    font-size: 16px;
}
button.cinza{
    background-color: aliceblue;
    color: #666;
}
button:hover{
    opacity: 0.8;
}

input{
    border:sollid 1px aliceblue;
    border-radius: 4px;
    padding: 12px 20px; 
    font-size: 16px;
    width: 100%; 
}
.label>div{
    display: flex;
    margin-bottom: 15px;
}
.label>div>input{
    flex: 1;
}